<template>
  <div class="idnum--wrapper">
    <v-layout column>

      <v-flex md8>
        <div class="headline idnum--title">Idnum List</div>
        <v-layout row grid-list-md>
          <v-flex md12>
            <v-card>
              <v-card-title>
                <export-to-csv
                  :jsonData="{headers: this.idnums.headers, rows: this.filteredRows}"
                  baseFilename="idnums_report"
                ></export-to-csv>

                <!-- filter dialog -->
                <v-dialog v-model="filterDialog" width="500">
                  <v-btn slot="activator" color="red lighten-2" dark>Filter</v-btn>
                  <v-card>

                    <v-card-title class="headline grey lighten-2"primary-title>
                      Filter options
                    </v-card-title>

                    <v-card-text>
                      To be implemented
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn
                        color="primary"
                        flat
                        @click="filterDialog = false"
                      >
                        Close
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
                <v-spacer></v-spacer>

                <!-- search bar -->
                <v-text-field
                  v-model="search"
                  append-icon="search"
                  label="Search"
                  single-line
                  hide-details
                ></v-text-field>
              </v-card-title>


              <v-data-table
                :search="search"
                :headers="idnums.headers"
                :items="filteredRows"
              >
                <template slot="headerCell" slot-scope="props">
                  <v-tooltip bottom>
                    <span slot="activator">
                      {{ props.header.text }}
                    </span>
                    <span>
                      {{ props.header.text }}
                    </span>
                  </v-tooltip>
                </template>
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">{{ props.item.idnum }}</td>
                  <td class="text-xs-left">{{ props.item.datestamp }}</td>
                  <td class="text-xs-left">{{ props.item.activity }}</td>
                </template>
              </v-data-table>
            </v-card>
          </v-flex>

        </v-layout>
      </v-flex>

    </v-layout>

  </div>


</template>

<script>

import config from '@/env.json';
import logger from '@/logger';
import axios from 'axios';

export default {
  data() {
    return {
      pageTitle: 'Idnum',
      idnums: {
        headers: [],
        rows: []
      },
      filterDialog: false
    };
  },
  mounted() {
    this.getIdnum();
  },
  methods: {
    getIdnum() {
      const { proto, hostname, port } = config['server'];
      const baseUrl = `${proto}://${hostname}:${port}`;

      const endpoint = config['api']['idnum'];
      const url = baseUrl + endpoint;

      return new Promise( (resolve, reject) => {
        axios
          .get( url )
          .then( result => {
            logger.debug(url, 'result: ', result);
            const resultData = result.data;
            const { data, errors } = resultData;

            if ( errors !== null ) {
              logger.error(errors);
              reject({ errors });
            } else {
              const { headers, rows } = data;
              this.idnums.headers = headers;
              this.idnums.rows = rows;
              resolve({ ok: true, calls: data });
            }
          });
      });
    }
  },
  computed: {
    filteredRows() { return this.idnums.rows; }
  }
};

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.v-toolbar { margin-bottom: 20px; }
.v-card { margin-bottom: 20px; }
.idnum--title {
  display: block;
  padding-top: 15px;
  background-color: white;
  text-indent: 24px;
}
</style>
