<template>
  <v-container fluid grid-list-md >

    <div class="headline">Timesheets</div>

    <v-layout column>

      <v-flex md12>
        <v-layout row grid-list-md>
          <v-flex md12>
            <v-card>
              <v-card-title>
                <v-layout row wrap>
                  <v-flex xs8>
                    <export-to-csv
                      :jsonData="{headers: this.report.headers, rows: this.filteredRows}"
                      baseFilename="timesheets_report"
                    ></export-to-csv>
                    <!-- filter dialog -->
                    <v-dialog v-model="filterDialog" width="500">
                      <v-btn slot="activator" color="red lighten-2" dark>Filter</v-btn>
                      <v-card>

                        <v-card-title class="headline grey lighten-2" primary-title>
                          Filter options
                        </v-card-title>

                        <v-card-text>
                          <v-expansion-panel>
                            <v-expansion-panel-content class="subheading filters--time-range">
                              <div slot="header">
                                Time range:
                              </div>

                              <div class="body-2 filters--time-range__title">Start time:</div>
                              <v-date-picker
                                full-width
                                header-color="blue"
                                v-model="filters.startTime"
                              ></v-date-picker>

                              <div class="body-2 filters--time-range__title">End time: </div>
                              <v-date-picker
                                full-width
                                header-color="blue"
                                v-model="filters.endTime"
                              ></v-date-picker>

                            </v-expansion-panel-content>
                          </v-expansion-panel>

                          <v-expansion-panel>
                            <v-expansion-panel-content>
                              <div slot="header">Agents:</div>
                              <v-card>
                                <v-card-text>
                                  <v-checkbox
                                  v-for="(agent, k) in agents"
                                  v-model="filters.agents"
                                  height="30"
                                  :label="agent"
                                  :value="agent"
                                  hide-details
                                  ></v-checkbox>
                                </v-card-text>
                              </v-card>

                            </v-expansion-panel-content>
                          </v-expansion-panel>

                          <v-expansion-panel>
                            <v-expansion-panel-content>
                              <div slot="header">Job #:</div>
                              <v-card>
                                <v-card-text>
                                  <v-checkbox
                                  v-for="jobno in jobnos"
                                  v-model="filters.jobnos"
                                  :label="jobno"
                                  :value="jobno"
                                  hide-details
                                  ></v-checkbox>
                                </v-card-text>
                              </v-card>
                            </v-expansion-panel-content>
                          </v-expansion-panel>

                          <v-expansion-panel>
                            <v-expansion-panel-content>
                              <div slot="header">Activity:</div>
                              <v-card>
                                <v-card-text>
                                  <v-checkbox
                                  v-for="(activity, k) in activityIDs"
                                  v-model="filters.activities"
                                  :label="activity.name"
                                  :value="activity.name"
                                  hide-details
                                  ></v-checkbox>
                                </v-card-text>
                              </v-card>
                            </v-expansion-panel-content>
                          </v-expansion-panel>
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                          <v-spacer></v-spacer>
                          <v-btn
                            color="primary"
                            flat
                            @click="filterDialog = false"
                          >
                            Close
                          </v-btn>
                        </v-card-actions>
                      </v-card>
                    </v-dialog>

                    <v-dialog>
                      <v-btn slot="activator" color="blue lighten-2">
                        Idnum
                      </v-btn>

                      <idnum></idnum>

                    </v-dialog>

                  </v-flex>

                  <v-flex xs4>
                    <!-- search bar -->
                    <v-text-field
                      v-model="search"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                  </v-flex>

                </v-layout>


              </v-card-title>


              <v-data-table
                :search="search"
                :headers="report.headers"
                :items="filteredRows"
              >
                <template slot="headerCell" slot-scope="props">
                  <v-tooltip bottom>
                    <span slot="activator">
                      {{ props.header.text }}
                    </span>
                    <span>
                      {{ props.header.text }}
                    </span>
                  </v-tooltip>
                </template>
                <template slot="items" slot-scope="props">

                  <td class="text-xs-left">
                    {{ props.item.start.replace(/T/g, ' ').replace(/\.[0-9]{3}Z/g, '') }}
                  </td>
                  <td class="text-xs-left">
                    {{ props.item.end === null ? '' : props.item.end.replace(/T/g, ' ').replace(/\.[0-9]{3}Z/g, '') }}
                  </td>
                  <td class="text-xs-left">{{ props.item.agent }}</td>
                  <td class="text-xs-left">{{ props.item.jobno }}</td>
                  <td class="text-xs-left">{{ props.item.activity }}</td>
                  <td class="text-xs-left">{{ props.item.hours }}</td>
                  <td class="text-xs-left">{{ props.item.completes }}</td>
                  <td class="text-xs-left">{{ props.item.call_rate }}</td>
                  <td class="text-xs-left">{{ props.item.records }}</td>

                  <div class="row-edit-button" >
                    <v-icon @click.stop="editRow(props.item, $event)">create</v-icon>
                  </div>

                </template>
              </v-data-table>
            </v-card>
          </v-flex>

        </v-layout>
      </v-flex>

      <v-flex d-flex md12>
        <v-card d-flex>
          <v-container fluid>
            <chart
              ratio="ct-major-twelfth"
              type="Bar"
              :chartData="chartData"
              :options="chartOptions"
            ></chart>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>

    <v-dialog
      v-model="isEditing"
      max-width="400"
    >
      <v-card>
        <v-card-title class="headline">
          Edit row
        </v-card-title>

        <v-card-text>
          <form>
            <v-text-field
              label="Start time"
              v-model="modifiedRow.start"
            ></v-text-field>
            <v-text-field
              label="End time"
              v-model="modifiedRow.end"
            ></v-text-field>

            <div class="item-prop">Agent: </div>
            <div class="item-value">
              {{ (modifiedRow.agent) ? modifiedRow.agent : 'None assigned' }}
            </div>
            <div class="item-prop">Job #: </div>
            <div class="item-value">
              {{ (modifiedRow.jobno ) ? modifiedRow.jobno : 'None assigned' }}
            </div>
            <v-select
              :items="activityIDs"
              label="Activity"
              item-text="name"
              item-value="id"
              v-model="modifiedRow.activityID"
            ></v-select>
            <div class="item-prop">Hours: </div>
            <div class="item-value">{{ modifiedRow.hours }}</div>
            <div class="item-prop">Completes: </div>
            <div class="item-value">{{ modifiedRow.completes }}</div>
            <div class="item-prop">Call rate:</div>
            <div class="item-value"> {{ modifiedRow.call_rate }}</div>
            <div class="item-prop">Records: </div>
            <div class="item-value">{{ modifiedRow.records }}</div>
          </form>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="green darken-1"
            flat="flat"
            @click="saveRow"
          >
            Save
          </v-btn>
          <v-btn
            color="red darken-1"
            flat="flat"
            @click="isEditing = false"
          >
            Cancel
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import logger from '@/logger';
import Chart from '@/components/charts/Chart';
import 'chartist-plugin-tooltips';
import Idnum from '@/components/timesheets/Idnum';

export default {
  props: ['report', 'activityIDs'],
  data() {
    return {
      disablePicker: false,
      search: '',
      filterDialog: false,
      chartOptions: {
        seriesBarDistance: 5,
        reverseData: false,
        horizontalBars: true,
        axisY: { offset: 70 },
        plugins: [ this.$chartist.plugins.tooltip() ]
      },

      isEditing: false,
      modifiedRow: {
        start: null,
        end: null,
        agent: null,
        jobno: null,
        activity: null,
        activityID: null,
        hours: null,
        completes: null,
        call_rate: null,
        records: null
      },
      filters: {
        agents: [],
        activities: [],
        jobnos: [],
        startTime: null,
        endTime: null
      }
    };
  },
  computed: {
    filteredRows() {
      return this.report.rows.filter( row => {
        /* @TODO could be improved but this is very readable.. */

        const filters = this.filters;

        // apply agent filter
        const { agent } = row;
        if (filters.agents.length > 0 && filters.agents.indexOf(agent) === -1) {
          return false;
        }

        // apply jobno filter
        let { jobno } = row;
        if (jobno === '' || jobno === null ) { jobno = 'Unassigned'; }
        if (filters.jobnos.length > 0 && filters.jobnos.indexOf(jobno) === -1) {
          return false;
        }

        // apply activity filter
        const { activity } = row;
        if ( filters.activities.length > 0 && filters.activities.indexOf(activity) === -1) {
          return false;
        }

        // apply start time filter
        const { startTimestamp } = row;
        // eslint-disable-next-line
        if( filters.startTime !== null && this.compareDates(startTimestamp, filters.startTime) === 1) {
          return false;
        }

        // apply start time filter
        const { endTimestamp } = row;
        if ( filters.endTime !== null && this.compareDates(endTimestamp, filters.endTime) === -1 ) {
          return false;
        }

        return true;
      });
    },
    jobnos() {
      const jobnos = this.report.rows
        .map( row => row.jobno )
        .reduce( (accum, jobno) => {
          let jobNum = jobno;
          if ( jobNum === '' || jobNum === null ) { jobNum = 'Unassigned'; }
          if ( accum.indexOf(jobNum) === -1 ) {
            accum.push(jobNum);
          }
          return accum;
        }, [] );


      logger.debug('jobnos', jobnos);
      return jobnos;
    },
    agents() {
      const agents = this.report.rows
        .map( row => row.agent )
        .reduce( (accum, agent) => {
          if ( accum.indexOf(agent) === -1 ) {
            accum.push(agent);
          }
          return accum;
        }, [] );

      return agents;
    },
    chartData() {
      const labels = this.agents;
      // eslint-disable-next-line
      let series = this.agents.map( (agent) => {
        return { meta: agent, value: Math.random() };
      });

      logger.debug('labels', labels);
      logger.debug('series', series);
      return { labels, series: [series] };
    },
    binding() {
      const binding = {};
      binding.column = !(this.$vuetify.breakpoint.mdAndUp);
      return binding;
    }
  },
  methods: {
    compareDates(timestamp1, timestamp2 ) {
      /*
        @returns
          1 if timestamp1 is older than timestamp2
          0 if equal
          -1 if younger
      */
      if ( timestamp1 > timestamp2 ) {
        return 1;
      } else if ( timestamp1 === timestamp2 ) {
        return 0;
      }

      return -1;
    },
    editRow(item, event) {
      logger.debug('item', item);
      logger.debug('event', event);
      const {
        start,
        end,
        agent,
        jobno,
        activity,
        activityID,
        hours,
        completes,
        // eslint-disable-next-line
        call_rate,
        records
      } = item;
      logger.debug('default modified row', this.modifiedRow);
      this.modifiedRow.start = start;
      this.modifiedRow.end = end;
      this.modifiedRow.agent = agent;
      this.modifiedRow.jobno = jobno;
      this.modifiedRow.activity = activity;
      this.modifiedRow.activityID = activityID;
      this.modifiedRow.hours = hours;
      this.modifiedRow.completes = completes;
      // eslint-disable-next-line
      this.modifiedRow.call_rate = call_rate;
      this.modifiedRow.records = records;

      logger.debug('about to edit modified row', this.modifiedRow);

      this.isEditing = true;
    },
    saveRow() {
      this.isEditing = false;
      this.clearModifiedRow();
    },
    clearModifiedRow() {
      this.modifiedRow.start = null;
      this.modifiedRow.end = null;
      this.modifiedRow.agent = null;
      this.modifiedRow.jobno = null;
      this.modifiedRow.activity = null;
      this.modifiedRow.activityID = null;
      this.modifiedRow.hours = null;
      this.modifiedRow.completes = null;
      // eslint-disable-next-line
      this.modifiedRow.call_rate = null;
      this.modifiedRow.records = null;
    }
  },
  components: { chart: Chart, idnum: Idnum }
};

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.activity-id { display: none; }
.headline { margin-bottom: 10px; text-indent: 10px; }
.v-toolbar { margin-bottom: 20px; }
.v-card {
  min-width: 50%;
  &.report-actions {
    height: 100%;
    padding: 5px;
    & > .v-layout {
      height: 100%;
      & > .v-flex {
        height: 80%;
      }
    }
  }
  .v-datatable tr { position: relative; }
  .row-edit-button {
    position: relative;

    .v-icon {
      position: absolute;
      top:10px;
      right: 17px;
    }
  }
  .item-prop { margin-top: 5px; margin-bottom: 5px; }
  .item-value { text-indent: 15px; opacity: 0.8; }
  .filter-section { margin-top: 15px; }
  .v-expansion-panel__body .v-card__text { max-height: 200px; overflow-y: auto; }
  .filters--time-range {
    padding: 0 15px;
  }
  .filters--time-range__title {
    padding: 5px 0;
  }
}
</style>
