<template>
  <!-- wrapper code -->
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>

        <!-- content code -->
        <page-title :pageTitle="pageTitle"></page-title>

        <report :activityIDs="activityIDs" :report="timesheets"></report>

      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>

import config from '@/env.json';
import logger from '@/logger';
import axios from 'axios';
import Report from '@/components/timesheets/Report';

export default {
  data() {
    return {
      pageTitle: 'Timesheets',
      activityIDs: [],
      timesheets: {
        headers: [],
        rows: []
      }
    };
  },
  mounted() {
    this.getActivity().then( () => {
      logger.info('loading report data');
      this.getReport();
    });
  },
  methods: {
    getActivity() {
      const { proto, hostname, port } = config['server'];
      const baseUrl = `${proto}://${hostname}:${port}`;

      const endpoint = config['api']['activity'];
      const url = baseUrl + endpoint;

      return new Promise( (resolve, reject) => {
        axios
          .get( url )
          .then( result => {
            const resultData = result.data;
            const { data, errors } = resultData;

            if ( errors !== null ) {
              logger.error(errors);
              reject({ errors });
            } else {
              this.activityIDs = data;
              logger.info('got IDs', this.activityIDs);
              resolve({ ok: true, activityIDs: this.activityIDs });
            }
          });
      });
    },
    getReport() {
      const { proto, hostname, port } = config['server'];
      const baseUrl = `${proto}://${hostname}:${port}`;

      const endpoint = config['api']['timesheets'];
      const url = baseUrl + endpoint;

      axios
        .get( url )
        .then( result => {
          const resultData = result.data;
          const { data, errors } = resultData;

          if ( errors !== null ) {
            logger.error(errors);
          } else {
            const { headers, rows } = data;

            logger.info('rows', rows);
            this.$set(this.timesheets, 'headers', headers);
            this.$set(this.timesheets, 'rows', rows);
          }
        });
    }
  },
  components: { report: Report }
};

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.v-toolbar { margin-bottom: 20px; }
.v-card { margin-bottom: 20px; }
</style>
