<template>
  <v-container fluid grid-list-md >

    <!-- <div class="headline">Call report</div> -->

    <v-layout column>
      <v-flex md12>
        <v-layout row grid-list-md>

          <!-- header toolbar -->
          <v-flex xs2>
            <v-card style="height:100%;padding:8px 12px;">
              <v-flex>
                <v-layout column>
                  <div class="headline">
                    Actions
                  </div>

                  <v-flex xs8 pt-1>
                    <v-select
                      :items="jobnos"
                      item-text="jobno"
                      item-value="jobno"
                      label="Filter by Job"
                      v-model="selectedJobID"
                      clearable
                    ></v-select>
                  </v-flex>
                  <v-flex xs8 style="margin-left:-7px;">
                    <export-to-csv
                      :jsonData="callReport"
                      baseFilename="call-report"
                    ></export-to-csv>
                  </v-flex>
                  <v-spacer></v-spacer>
                </v-layout>
              </v-flex>
            </v-card>
          </v-flex>

          <!-- call report data table -->
          <v-flex xs10>
            <v-card>
              <v-data-table :headers="callReport.headers" :items="callReport.rows">
                <template slot="headerCell" slot-scope="props">
                  <v-tooltip bottom>
                    <span slot="activator">
                      {{ props.header.text }}
                    </span>
                    <span>
                      {{ props.header.text }}
                    </span>
                  </v-tooltip>
                </template>
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">
                    <v-tooltip bottom>
                      <v-icon slot="activator" @click="">info</v-icon>
                      <span> {{ props.item.date.split('T')[0] }}</span>
                    </v-tooltip>
                    <span style="position:relative;top:-2px;left:5px;">{{ props.item.period }}</span>
                  </td>
                  <td class="text-xs-left">{{ props.item.num_calls }}</td>
                </template>
              </v-data-table>
            </v-card>
          </v-flex>

        </v-layout>
      </v-flex>

      <v-flex d-flex md12>
        <v-card d-flex>
          <v-container fluid>
            <chart
              ratio="ct-major-twelfth"
              type="Bar"
              :chartData="chartData"
              :options="chartOptions"
            ></chart>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
import logger from '@/logger';
import Chart from '@/components/charts/Chart';
import 'chartist-plugin-tooltips';


export default {
  props: ['callReport', 'jobnos'],
  data() {
    logger.debug('this.chartist', this.$chartist);
    return {
      selectedJobID: null,
      chartOptions: {
        seriesBarDistance: 5,
        reverseData: false,
        horizontalBars: true,
        axisY: {
          offset: 70
        },
        plugins: [
          this.$chartist.plugins.tooltip()
        ]
      }
    };
  },
  watch: {
    selectedJobID(newVal) { this.$emit('onselectjobno', { jobno: newVal }); }
  },
  computed: {
    chartData() {
      const periods = this.callReport.rows.map( row => row.period );
      const numCalls = this.callReport.rows
        .map( row => ({ meta: row.period, value: parseFloat(row.num_calls) }));

      return {
        labels: periods,
        series: [numCalls]
      };
    },
    binding() {
      const binding = {};
      binding.column = !(this.$vuetify.breakpoint.mdAndUp);
      return binding;
    }
  },
  components: { chart: Chart }
};

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.headline { margin-bottom: 10px; text-indent: 10px; }
.v-toolbar { margin-bottom: 20px; }
.v-card {
  min-width: 50%;
  &.report-actions {
    height: 100%;
    padding: 5px;
    & > .v-layout {
      height: 100%;
      & > .v-flex {
        height: 80%;
      }
    }
  }
}
</style>
