<template>
  <!-- wrapper code -->
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>

        <!-- content code -->
        <page-title :pageTitle="pageTitle"></page-title>

        <call-report
          @onselectjobno="selectedjobno"
          :jobnos="jobnos"
          :callReport="callReport"
        ></call-report>

      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>

import config from '@/env.json';
import logger from '@/logger';
import axios from 'axios';
import callReport from '@/components/overview/CallReport';

export default {
  data() {
    return {
      jobnos: [],
      pageTitle: 'Overview',
      callReport: {
        headers: [],
        rows: []
      }
    };
  },
  mounted() {
    this.getJobnos();
    this.getCallReport();
  },
  methods: {
    selectedjobno(data) {
      const { jobno } = data;
      this.getCallReport(jobno);
    },
    getJobnos() {
      axios
        .get('/jobs')
        .then( response => {
          const { data, errors } = response.data;

          if ( errors === null ) {
            this.jobnos = data.rows.map( j => ({ id: j.id, jobno: j.jobno }));
          }
        });
    },
    getCallReport(jobno) {
      const { proto, hostname, port } = config['server'];
      const baseUrl = `${proto}://${hostname}:${port}`;

      const endpoint = config['api']['callReport'];
      let url = baseUrl + endpoint;

      if ( typeof jobno === 'string' ) {
        url += `/${jobno}`;
      }

      axios
        .get( url )
        .then( result => {
          const resultData = result.data;
          const { data, errors } = resultData;

          if ( errors !== null ) {
            logger.error(errors);
          } else {
            const { headers, rows } = data;
            this.$set(this.callReport, 'headers', headers);
            this.$set(this.callReport, 'rows', rows);
          }
        });
    }
  },
  components: { 'call-report': callReport }
};

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.v-toolbar { margin-bottom: 20px; }
.v-card { margin-bottom: 20px; }
</style>
