<template>

  <v-dialog v-model="dialog" width="500">
    <v-btn slot="activator" light>+ Add new Agent</v-btn>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Add new agent
      </v-card-title>

      <v-card-text>
        <v-form>
          <v-text-field
            v-model="name"
            label="Name"
            required
          ></v-text-field>

          <v-text-field
            v-model="password"
            label="Password"
            required
          ></v-text-field>

          <v-select
            v-model="role"
            :items="roles"
            item-value="id"
            item-text="role_name"
            label="Role"
          ></v-select>

          <v-text-field
            v-model="extension"
            label="Extension"
          ></v-text-field>
        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn
          color="success"
          :disabled="formHasErrors || formIsEmpty"
          @click="save"
        >Save</v-btn>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          flat
          @click="close"
        >Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
import axios from 'axios';
import logger from '@/logger';

export default {
  props: ['roles'],
  data() {
    return {
      dialog: false,
      name: null,
      password: null,
      role: null,
      extension: null
    };
  },
  computed: {
    formIsEmpty() {
      const noName = this.name === null || this.name.length === 0;
      const noPass = this.password === null || this.name.length === 0;
      const noRole = this.role === null;
      return noName || noPass || noRole;
    },
    formHasErrors() {
      return false;
    }
  },
  methods: {
    close() {
      this.dialog = false;
    },
    async save() {
      const response = await axios.post(
        '/agents',
        {
          name: this.name,
          password: this.password,
          role: this.role,
          extension: this.extension
        }
      );

      const { data, errors } = response.data;

      if ( errors === null ) {
        logger.info('got data in new agent', data);
        this.$emit('added');
        this.close();
      } else {
        this.$emit('error', { msg: errors[0].msg } );
      }
    }
  }
};

</script>
