
<template>
  <!-- wrapper code -->
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>

        <!-- content code -->
        <page-title :pageTitle="pageTitle" ></page-title>

        <users-pane
          :users="users"
          :assignableJobs="assignableJobs"
          @pullData="pullData"
        ></users-pane>

      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>

import config from '@/env.json';
import logger from '@/logger';
import axios from 'axios';
import UsersPane from './UsersPane';

export default {
  data() {
    return {
      pageTitle: 'Agents',
      users: [],
      assignableJobs: []
    };
  },
  mounted() {
    this.getUsersData();
    this.getAssignableJobs();
  },
  methods: {
    pullData() {
      console.log('pullData');
      this.getUsersData();
      this.getAssignableJobs();
    },
    getAssignableJobs() {
      const url = '/api/jobs';

      axios
        .get( url )
        .then( result => {
          logger.debug(url, 'result: ', result);
          const { data, errors } = result.data;
          if ( errors !== null ) {
            logger.error(errors);
          } else {
            logger.info('assignableJobs', data);
            this.assignableJobs = data.slice();
          }
        });
    },
    getUsersData() {
      const { proto, hostname, port } = config['server'];
      const baseUrl = `${proto}://${hostname}:${port}`;

      const endpoint = config['api']['users-and-agents'];
      const url = baseUrl + endpoint;

      axios
        .get( url )
        .then( result => {
          logger.debug(url, 'result: ', result);
          const resultData = result.data;
          const { data, errors } = resultData;

          if ( errors !== null ) {
            logger.error(errors);
          } else {
            logger.info('got data', data);
            this.users = data;
          }
        });
    }
  },
  components: {
    'users-pane': UsersPane
  }
};

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.v-toolbar { margin-bottom: 20px; }
.v-card { margin-bottom: 20px; }
</style>
