<template>
  <v-dialog v-model="jobDialog" width="500">
    <v-btn slot="activator">Assign jobs</v-btn>

    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Assign jobs
      </v-card-title>

      <v-card-text>
        <v-list class="modal-assign-jobs">
          <v-list-tile v-for="(job, indx) in assignableJobs" >
            <v-list-tile-content>
              <v-checkbox
                v-model="jobs[job.id]"
                :key="job.id"
                :label="job.jobno"
                :value="job.id"
              ></v-checkbox>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn
          color="success"
          @click="assignJobs"
          :disabled="markedJobs.length === 0"
        >Assign</v-btn>
        <v-btn @click="clear">Clear</v-btn>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          flat
          @click="close"
        >Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios';

export default {
  props: ['assignableJobs', 'agentID'],
  data() {
    return {
      jobDialog: false,
      jobs: []
    };
  },
  computed: {
    markedJobs() {
      return this.jobs
        .filter( id => id !== null )
        .map( id => this.assignableJobs.find( j => j.id === id) );
    }
  },
  methods: {
    assignJobs() {
      const agentID = this.agentID;
      const url = `/agents/${agentID}/assign-jobs`;
      const payload = { jobs: this.markedJobs };


      /* eslint-disable */
      axios.post(url, payload).then( response => {
        const { errors } = response.data;

        if ( errors === null ) {
          this.text = 'Assigned jobs successfully!';
          this.snackbar = true;
          this.close();
          this.$emit('assignedJobs');
        }
      });
    },
    clear() { this.jobs = []; },
    close() {
      this.clear();
      this.jobDialog = false;
    }
  }
};
</script>

<style>
.v-card__text .modal-assign-jobs {
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
}
</style>
