<template>
  <v-dialog v-model="pwDialog" width="500">
    <v-btn slot="activator" light>Change password</v-btn>
    <v-card>
      <v-card-title class="headline grey lighten-2" primary-title>
        Change password
      </v-card-title>

      <v-card-text>
        <v-form>
          <v-text-field
            v-model="currPass"
            label="Current password"
            required
          ></v-text-field>

          <v-text-field
            v-model="newPass"
            label="New password"
            required
          ></v-text-field>

        </v-form>
      </v-card-text>

      <v-divider></v-divider>

      <v-card-actions>
        <v-btn
          color="success"
          :disabled="disablePW"
          @click="changePassword"
        >Change</v-btn>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          flat
          @click="closePW"
        >Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
