<template>
  <v-layout grid-list-md column class="user-list">
    <v-flex class="search-bar--wrapper">
      <v-card>
        <search-bar
          @onvaluechanged="searchTermUpdate"
          :label="'Search agents...'"
        ></search-bar>

        <v-layout row class="checkbox-group">
          <v-checkbox
            label="Show Disabled (D)"
            v-model="showDisabled"
            height="20"
          ></v-checkbox>
          <v-checkbox
            label="Show Deleted (X)"
            v-model="showDeleted"
            height="20"
          ></v-checkbox>
        </v-layout>

      </v-card>
    </v-flex>

    <v-flex class="user-list-card--wrapper">
      <v-card>
        <v-list class="user-listing--wrapper" two-line>
          <template v-for="(user, indx) in sortedUsers">

            <v-list-tile :key="user.id" @click="selectUser(user.id)">

              <v-list-tile-content>
                <v-list-tile-title v-html="user.name"></v-list-tile-title>
                <v-list-tile-sub-title>
                  {{ user.jobs.length }} jobs - {{ roles.find( r => r.id === user.agent_role_id)['role_name'] }}
                </v-list-tile-sub-title>
              </v-list-tile-content>

            </v-list-tile>

          </template>
        </v-list>
      </v-card>

    </v-flex>
  </v-layout>

</template>

<script>
  export default {
    props: ['users', 'roles'],
    data() {
      return {
        searchTerm: null,
        showDeleted: false,
        showDisabled: false
      };
    },
    computed: {
      filteredUsers() {
        let users = this.users;
        const userRole = roleID => this.roles.find( r => r.id === roleID)['role_name'].toLowerCase();

        // by default hide deleted users
        if ( !this.showDeleted ) {
          users = users.filter( user => userRole(user.agent_role_id).indexOf('deleted') === -1 );
        }

        // by default hide disabled users
        if ( !this.showDisabled ) {
          users = users.filter( user => userRole(user.agent_role_id).indexOf('disabled') === -1 );
        }

        // search term filtering
        if ( typeof this.searchTerm === 'string' && this.searchTerm.length > 0 ) {
          // normalize search term
          const searchTerm = this.searchTerm.toLowerCase();
          users = users.filter( user => user.name.toLowerCase().indexOf(searchTerm) > -1 );
        }

        return users;
      },
      sortedUsers() {
        // we are sorting after applying filters !
        let users = this.filteredUsers;
        return users.sort( (a, b) => {
          if ( a.name.toLowerCase() > b.name.toLowerCase() ) {
            return 1;
          } else if ( a.name.toLowerCase() < b.name.toLowerCase() ) {
            return -1;
          }

          return 0;
        });
      }
    },
    methods: {
      searchTermUpdate({ newVal /*, oldVal */}) {
        this.searchTerm = newVal;
      },

      selectUser(userID) {
        this.$emit('user-selection', { userID });
      }
    }
  };
</script>


<style lang="scss" scoped>

.user-list  {
  .checkbox-group {
    & /deep/ .v-input {
      margin-top: 5px;
      .v-label { font-size: 14px; }
    }
  }

  & > .v-layout { height: 100%; }
  & .flex.user-list-card--wrapper {
    padding-top: 8px !important;
  }
  .v-list__tile__content {
    text-indent: 10px;
  }

  $total_h: 600px;
  $search_h: 150px;
  $padding: 4px;
  $list_h: $total_h - $search_h - $padding;

  & .flex.search-bar--wrapper {
    min-height: $search_h;
    max-height: $search_h;

    .v-card { padding: 1em; }
  }
  .user-listing--wrapper {
    padding: 5px;
    overflow-y: auto;

    min-height: $list_h;
    max-height: $list_h;
  }

}

</style>
