<template>
  <v-container fluid grid-list-md >

    <v-layout row>
      <v-flex xs2>
        <div class="headline" style="position:relative;top:6px;">Manage Agents</div>
      </v-flex>
      <v-flex xs2 style="position:relative; right: 42px;">
        <add-new-agent
          :roles="roles"
          @added="$emit('pullData')"
        ></add-new-agent>
      </v-flex>
      <v-spacer></v-spacer>
    </v-layout>

    <v-layout column>
      <v-flex md12>
        <v-layout row grid-list-md>
            <v-flex md3 class="user-list--wrapper">
              <user-list :roles="roles" :users="users" @user-selection="userSelect"></user-list>
            </v-flex>

            <v-flex md9 class="user-actions--wrapper">
              <user-actions
                :assignableJobs="assignableJobs"
                :roles="roles"
                :activeUser="activeUser"

                @unassignedJobs="unassignedJobs"
                @assignedJobs="assignedJobs"
                @updatedAgent="updatedAgent"
              ></user-actions>
            </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>


  </v-container>
</template>

<script>
// import logger from '@/logger';
import axios from 'axios';
import config from '@/env.json';
import UserActions from './UserActions';
import UserList from './UserList';
import AddNewAgent from './AddNewAgent';

export default {
  props: ['users', 'assignableJobs'],
  data() {
    return {
      currentID: null,
      roles: []
    };
  },
  mounted() {
    const url = config['api']['agent-roles'];
    axios
      .get(url)
      .then( ({ data }) => { this.roles = data.data.slice(); });
  },
  computed: {
    activeUser() {
      let user = null;

      // @NOTE if for some reason 2+ users have the same ID, that is a bug
      // on the back-end, so it should be a safe assumption.
      const filtered = this.users.filter( u => u.id === this.currentID );
      if ( filtered.length > 0 ) {
        user = filtered[0];
      }

      return user;
    }
  },
  methods: {
    addedAgent() { this.$emit('pullData'); },
    assignedJobs() { this.$emit('pullData'); },
    unassignedJobs() { this.$emit('pullData'); },
    userSelect(event) {
      const { userID } = event;
      this.currentID = userID;
    },
    updatedAgent() { this.$emit('pullData'); }
  },
  components: {
    'user-actions': UserActions,
    'user-list': UserList,
    'add-new-agent': AddNewAgent
  }
};

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>

.headline { margin-bottom: 10px; text-indent: 10px; }
.v-toolbar { margin-bottom: 20px; }
.v-card { min-width: 50%; }

</style>
