<template>
  <v-card tile class="user-actions" >

    <!-- empty user case -->
    <v-layout column v-if="activeUser === null">
      <v-flex>
        <v-card-title primary-title >
          <h1 class="headline">Actions</h1>
          <v-card-text>
            To start, please select a user.
          </v-card-text>
        </v-card-title>
      </v-flex>
      <v-divider light></v-divider>
    </v-layout>

    <v-layout column v-else>

      <v-flex>
        <v-card-title primary-title >
          <h1 class="headline">{{ name }}</h1>
        </v-card-title>
      </v-flex>
      <v-divider light></v-divider>

      <v-layout row>
        <v-flex md4>
          <v-subheader>User data</v-subheader>
          <v-card-text>
            <v-form>
              <v-text-field
                v-model="name"
                label="Name"
                required
              ></v-text-field>
              <v-select
                v-model="userRole"
                :items="roles"
                item-value="id"
                item-text="role_name"
                label="User Role"
              ></v-select>

              <v-text-field
                v-model="extensionNumber"
                label="Extension number"
              ></v-text-field>
            </v-form>
          </v-card-text>
        </v-flex>

        <v-flex md4 class="job-list--wrapper">
          <v-subheader>Jobs</v-subheader>
          <v-list one-line class="job-list--listing">
            <template v-for="job in jobs">
              <v-list-tile :key="job.id">
                <v-list-tile-title v-html="job.jobno"></v-list-tile-title>

                <v-icon @click="mark(job.id)" v-if="!job.markedForDel">delete</v-icon>
                <v-icon v-else @click="unmark(job.id)" color="red darken">delete</v-icon>
              </v-list-tile>
            </template>
          </v-list>
        </v-flex>

      </v-layout>

      <v-layout row>
        <v-flex md4>
          <v-btn light @click="updateUser">Save</v-btn>
          <v-dialog v-model="pwDialog" width="500">
            <v-btn slot="activator" light>Change password</v-btn>
            <v-card>
              <v-card-title class="headline grey lighten-2" primary-title>
                Change password
              </v-card-title>

              <v-card-text>
                <v-form>
                  <v-text-field
                    v-model="currPass"
                    label="Current password"
                    required
                    type="password"
                  ></v-text-field>

                  <v-text-field
                    v-model="newPass"
                    label="New password"
                    required
                    type="password"
                  ></v-text-field>

                </v-form>
              </v-card-text>

              <v-divider></v-divider>

              <v-card-actions>
                <v-btn
                  color="success"
                  :disabled="disablePW"
                  @click="changePassword"
                >Change</v-btn>
                <v-spacer></v-spacer>
                <v-btn
                  color="primary"
                  flat
                  @click="closePW"
                >Close</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>

        </v-flex>

        <v-flex md4>

          <assign-jobs
            :assignableJobs="filteredJobs"
            :agentID="userID"
            @assignedJobs="assignedJobs"
          ></assign-jobs>
          <v-btn
            :disabled="jobsMarked.length <= 0"
            @click="unassignJobs"
          >Unassign job(s)</v-btn>
        </v-flex>

        <v-flex md4></v-flex>
        <snackbar :text="text" :show="snackbar"></snackbar>
      </v-layout>


    </v-layout>

  </v-card>
</template>

<script>
import logger from '@/logger';
import axios from 'axios';
import AssignJobs from './AssignJobs';

export default {
  props: ['activeUser', 'roles', 'assignableJobs'],
  data() {
    return {
      snackbar: false,
      text: '',

      // @NOTE naming of things...
      jobDialog: false,
      pwDialog: false,

      // password fields
      currPass: null,
      newPass: null,

      // user data
      valid: false,
      name: '',
      role: null,
      userRole: null,
      jobs: [],
      userID: null,
      extensionNumber: null,

      jobsToAssign: []
    };
  },

  methods: {
    /** Model dialog actions **/
    closePW() {
      this.currPass = null;
      this.newPass = null;
      this.pwDialog = false;
    },
    unmark(jobID) {
      this.jobs = this.jobs.map( job => {
        let { id, markedForDel, jobno } = job;
        if ( id === jobID ) {
          markedForDel = false;
        }
        return { id, markedForDel, jobno };
      });

      logger.debug('in unmark', this.jobs);
    },
    mark(jobID) {
      this.jobs = this.jobs.map( job => {
        let { id, markedForDel, jobno } = job;
        if ( id === jobID ) {
          markedForDel = true;
        }
        return { id, markedForDel, jobno };
      });
    },

    assignedJobs() {
      this.text = 'Assigned jobs.';
      this.snackbar = true;
      this.$emit('assignedJobs');
    },

    /** REST API Calls **/
    changePassword() {
      const userID = this.userID;
      const currPass = this.currPass;
      const newPass = this.newPass;

      axios
        .post(`/agents/${userID}/change-password`, { currPass, newPass })
        .then( response => {
          const { errors } = response.data;
          if ( errors === null ) {
            this.pwDialog = false;
            this.currPass = null;
            this.newPass = null;
            this.text = 'Password changed';
            this.snackbar = true;
          }
        });
    },
    updateUser() {
      const { name, userRole, userID, extensionNumber } = this;
      const payload = {
        name,
        agentRoleID: userRole,
        extension: extensionNumber
      };
      const url = `/agents/${userID}`;

      axios
        .post(url, payload)
        .then( response => {
          this.text = 'Data updated!';
          this.snackbar = true;
          this.$emit('updatedAgent');
          logger.info('got agent update response', response);
        });
    },
    unassignJobs() {
      const userID = this.userID;
      const jobsMarked = this.jobsMarked;
      axios
        .post(`/agents/${userID}/unassign-jobs`, { jobIDs: jobsMarked })
        .then( response => {
          logger.info('got reponse', response);
          this.text = `Unassigned ${jobsMarked.length} job(s)`;
          this.snackbar = true;
          this.$emit('unassignedJobs');
        });
    }
  },
  computed: {
    disablePW() {
      const currPass = this.currPass;
      const newPass = this.newPass;
      return (typeof currPass !== 'string' || typeof newPass !== 'string' || currPass.length === 0 || newPass.length === 0);
    },
    jobsMarked() {
      return this.jobs
        .filter( j => j.markedForDel );
    },

    /* remove jobs already assigned to user from listing */
    filteredJobs() {
      const assignedJobIds = this.jobs.map( j => j.id );
      return this.assignableJobs
        .filter( j => assignedJobIds.indexOf(j.id) === -1 );
    }
  },
  watch: {
    activeUser(newData) {
      logger.info('newData', newData);
      this.name = newData.name;
      this.role = newData.role;
      this.userID = newData.id;
      this.userRole = (this.roles.find( r => r.id === newData.agent_role_id))['id'];
      this.jobs = newData.jobs.map( job => ({ id: job.id, jobno: job.jobno, markedForDel: false }));
      this.extensionNumber = newData.extension;
      logger.info('userRole', this.userRole);
    }
  },
  components: {
    'assign-jobs': AssignJobs
  }
};
</script>

<style lang="scss" scoped>
.user-actions {
  padding: 5px;
  min-height: 600px;
  max-height: 600px;
  overflow-y: auto;

  & > .layout {
    height: 100%;
    width: 99%;
  }

  .job-list--listing {
    min-height: 250px;
    max-height: 250px;
    overflow-y: auto;
  }
}


</style>
