
<template>
  <!-- wrapper code -->
  <v-container fluid class="job-rules--wrapper">
    <v-slide-y-transition mode='out-in' >
      <v-layout column >

        <!-- content code -->
        <page-title :pageTitle='pageTitle'></page-title>

        <v-flex xs12>
          <v-layout row>
            <v-flex xs2 class="headline" style="align-self: center;">
              Job Rule
            </v-flex>
            <v-flex xs2>
              <v-select
                :items="jobnos"
                v-model="selectedJobno"
                item-text="jobno"
                item-value="id"
                label="Jobno"
                @click:clear="selectedJobno = null"
                clearable
              ></v-select>
            </v-flex>
            <v-flex xs8>
              <v-btn color="success" @click="save">Preview</v-btn>
            </v-flex>
          </v-layout>

          <v-layout row>
            <v-flex xs6 class="vue-query-builder--wrapper">
              <vue-query-builder
              styled="true"
              :rules="rules"

              v-model="query"
              v-if="isLoaded"
              ></vue-query-builder>
            </v-flex>
            <v-flex xs6 class="parsed-query">
              <v-tabs v-model="activeTab">
                <v-tab key="1">Parsed query</v-tab>
                <v-tab key="2">Query object</v-tab>

                <v-tab-item key="1">
                  <v-card>
                    <v-card-title primary-title>
                      <div class="headline">
                        Parsed query
                      </div>
                    </v-card-title>
                    <v-card-text>
                      <pre class="query-parsed">
                        {{ parsedQuery }}
                      </pre>
                    </v-card-text>
                  </v-card>
                </v-tab-item>


                <v-tab-item key="2">
                  <v-card dark>
                    <v-card-title primary-title>
                      <div class="headline">
                        Preview of the query:
                      </div>
                    </v-card-title>

                    <v-card-text dark>
                      <div class="query-preview">
                        <pre v-html="JSON.stringify(this.query, null, 2) "></pre>
                      </div>
                    </v-card-text>
                  </v-card>
                </v-tab-item>
              </v-tabs>

            </v-flex>
          </v-layout>
        </v-flex>

        <v-layout row>
          <v-flex xs12>
            <v-card >
              <v-card-title primary-title>
                <div class="headline">
                  Query preview
                </div>
                <p class="pl-4 mb-0">
                  Jobno: {{ selectedJobno || 'null' }}
                </p>
                <p class="pl-4 mb-0">
                  # of items: {{ previewResponse.length }}
                </p>
              </v-card-title>
              <v-card-text>
                <v-list class="preview-listing">
                  <template v-for="item in previewResponse">
                    <v-list-tile
                      :key="item.extlink"
                      @click=""
                    >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ JSON.stringify(item, null, 2) }} </v-list-tile-title>
                    </v-list-tile-content>
                    </v-list-tile>
                  </template>
                </v-list>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>
const sampleQuery = require('./sample-query');


// import config from '@/env.json';
// import logger from '@/logger';
import axios from 'axios';

export default {
  data() {
    return {
      activeTab: 1,
      pageTitle: 'Job Rules',
      allowedFields: [],
      rules: [],
      isLoaded: false,
      query: sampleQuery,
      jobnos: [],
      selectedJobno: null,
      previewResponse: []
    };
  },
  computed: {
    parsedQuery() {
      function parseElem(elem, level) {
        if ( elem['type'] === 'query-builder-group' ) {
          const operator = ( elem['query']['logicalOperator'] === 'All')
            ? 'AND'
            : 'OR';
          const padString = '\t'.repeat(level);
          let N = level + 1;
          const childrenText = elem['query']['children']
            .map( e => parseElem(e, N))
            // eslint-disable-next-line
            .join(  ` ${operator}  \n${padString}`);

          return `\n${padString} (\n ${padString}${childrenText} \n ${padString} )`;
        } else if (elem['type'] === 'query-builder-rule' ) {
          // parse rule instead

          const operator = elem['query']['selectedOperator'];
          const operand = elem['query']['selectedOperand'];
          const _value = elem['query']['value'];
          const value = typeof _value === 'string' ? `"${_value}"` : _value;
          return `  ${operand} ${operator} ${value}`;
        }

        throw new Error('why no type');
      }

      const q = this.query;

      if ( q === null ) { return ''; }
      try {
        const qq = { type: 'query-builder-group', query: q };
        return parseElem(qq, 1);
      } catch (err) {
        return 'got an error';
      }
    }
  },
  mounted() { this.getFields(); this.getJobnos(); },
  methods: {
    save() {
      axios
        .post(
          '/job-rule-preview',
          {
            data: {
              queryObj: { type: 'query-builder-group', query: this.query },
              parsedQuery: this.parsedQuery,
              jobno: this.selectedJobno
            }
          }
        )
        .then( response => {
          const { data } = response.data;

          this.previewResponse = data.slice();
        });
    },
    getJobnos() {
      axios
        .get('/jobs')
        .then( response => {
          this.jobnos = response.data.data.rows.map( j => ({
            id: j['id'],
            jobno: j['jobno']
          }));
        });
    },
    getFields() {
      axios
        .get('/job-rules-fields')
        .then( response => {
          const { data, errors } = response.data;
          if ( errors === null ) {
            // eslint-disable-next-line
            this.allowedFields = data.map( field =>  ({tableName: field['table_name'], columnName: field['column_name']}) );
            this.rules = this.allowedFields
              .map( ({ tableName, columnName }) => {
                const shortName = `${tableName}.${columnName}`;
                return {
                  type: 'text',
                  id: shortName,
                  label: shortName,
                  displayLabel: 'Field to compare query...',
                  operators: [
                    '>',
                    '>=',
                    '<',
                    '<=',
                    '=',
                    '!=',
                    'contains',
                    'does not contain',
                    'is empty',
                    'is not empty',
                    'begins with',
                    'ends with'
                  ]
                };
              }).sort( (a, b) => {
                const nameA = a['label'];
                const nameB = b['label'];

                const val = ( nameA > nameB )
                  ? 1
                  : (nameA === nameB )
                    ? 0
                    : -1;

                return val;
              });

            this.isLoaded = true;
          }
        });
    }
  }
};

</script>


<style lang="scss" scoped>
  .parsed-query {
    padding: 0 7px;
    padding-bottom: 22px;
    .v-tabs .v-card {
      min-height: 499px;
      max-height: 499px;
      overflow-y: auto;
    }
  }

  .preview-listing {
    max-height: 600px;
    min-height: 600px;
    overflow-y: auto;
    overflow-x: auto;
  }

</style>
