<template>
  <v-dialog
    persistent="true"
    @input="v => v || close()"
    width="800"
    v-model="showDialog"
    content-class="assign-pds-other--wrapper"
  >
    <v-card v-if="activePDSOther !== null">
      <v-card-title
        class="headline grey lighten-2"
      >
        Assign PDS Other
      </v-card-title>
      <v-card-text>
        <v-layout row>
          <v-flex xs1>
            <div class="body-2">
                1. Was there an error?
            </div>
          </v-flex>
          <v-flex xs11>
            <v-checkbox v-model="isError"></v-checkbox>
          </v-flex>
        </v-layout>

        <v-layout row>
          <v-flex xs1 pr-1>
            2.
          </v-flex>
          <v-flex xs5 pr-1 class="assign-pds-other--item-list">
            <v-card>
              <div class="body-2">
                Choose an item from the list and click "Assign" to assign.
              </div>

              <v-list pb-1>
                <template
                  v-for="(pdsItem, indx) in pdsItems"
                >
                  <v-list-tile
                    :key="pdsItem.id"
                    active-class="active-item"
                    :class="{ 'active-item': pdsItem.id === selectedItemID}"
                    @click="selectPDSItem(pdsItem.id)"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ pdsItem.attribute_text }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
              <v-btn
                :disabled="selectedItemID === null"
                @click="assignToItem"
              >Assign</v-btn>

            </v-card>
          </v-flex>
          <v-flex xs1 class="or">
            <div class="body-2">
              Or
            </div>
          </v-flex>
          <v-flex xs5 pl-2 class="assign-pds-other--edit">
            <v-card>
              <div class="body-2">
                Add to the existing list as a new entry.
              </div>
              <v-form>
                <v-text-field
                  label="PDS Other text"
                  v-model="activePDSOther['item_text']"
                ></v-text-field>
              </v-form>
              <v-btn
                :disabled="activePDSOther.item_text.length === 0"
                @click="addToList"
              >+ Add to list</v-btn>
            </v-card>
          </v-flex>
        </v-layout>
      </v-card-text>

      <v-card-actions style="justify-content: end;">
        <v-btn
        color="primary"
        flat
        @click="close"
        >Close</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios';

export default {
  props: ['showDialog', 'pdsOthers', 'pdsOtherID', 'pdsItems'],
  data() {
    return {
      selectedItemID: null,
      isError: false
    };
  },
  methods: {
    selectPDSItem(itemID) {
      this.selectedItemID = itemID;
    },
    addToList() {
      // eslint-disable-next-line
      const { id, item_text } = this.activePDSOther;
      // eslint-disable-next-line
      const itemText = item_text;
      const answer = confirm(`Are you sure you want to assign "${itemText}" to the list?`);

      if (answer) {
        axios
          .post('/add-pds-other', { id, itemText, isError: this.isError })
          .then( response => {
            const { errors } = response.data;
            console.log('got response', response);
            if ( errors === null ) {
              this.$emit('added-pds-other');
              this.close();
            }
          });
      }
    },
    assignToItem() {
      const selectedItem = this.pdsItems.find( p => p.id === this.selectedItemID );
      const itemText = selectedItem['attribute_text'];
      const answer = confirm(`Are you sure you want to assign this to "${itemText}"?`);
      if ( answer ) {
        axios
          .post(
            '/assign-pds-other',
            { pdsItemID: this.selectedItemID, otherID: this.pdsOtherID, isError: this.isError }
          )
          .then( response => {
            const { errors } = response.data;

            if ( errors === null ) {
              this.$emit('assigned-to-pds');
              this.close();
            }
          });
      }
    },
    close() {
      // reset item ID
      this.selectedItemID = null;
      this.$emit('closed');
    }
  },
  computed: {
    activePDSOther() {
      if ( typeof this.pdsOtherID === 'undefined' || this.pdsOtherID === null ) {
        return null;
      }
      const foundOther = this.pdsOthers.find( p => p.id === this.pdsOtherID );
      return Object.assign({}, foundOther);
    }
  }
};
</script>


<style lang="scss" scoped>
.or {
  align-self: center;
  text-align: center;
}
.assign-pds-other--item-list {
  .v-list {
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
  }
  .active-item {
    background-color: rgba(0,0,0,.04);
  }
  .v-card { padding: 15px; }
}
.assign-pds-other--edit {
  .v-card { padding: 15px; }
}
.assign-pds-other--wrapper { min-height: 600px; max-height: 600px; }
</style>
