<template>
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column>
        <page-title :pageTitle="pageTitle" ></page-title>


        <v-spacer></v-spacer>

        <v-layout align-space-between justify-start row>
          <v-flex xs6 >
            <v-layout column>

              <!-- pds group header and filters -->
              <pds-groups
                :jobnos="jobnos"
                :pdsGroups="pdsLists"
                :activeID="activeID"
                @selectedPDS="selectedPDS"
              ></pds-groups>

              <pds-group-edit
                :activeID="activeID"
                :pdsGroup="activePDSList"
                @pullData="pullData"
              ></pds-group-edit>
            </v-layout>
          </v-flex>

          <!-- pds items list -->
          <v-flex xs6 class="pl-1">

            <pds-items
              :pdsItems="activePDSList['items']"
              :pdsOthers="activePDSList['others']"
              :activeItemID="activeItemID"
              @selectedPDSItem="selectedPDSItem"
              @pullData="pullData"
            ></pds-items>

            <!-- pds item form -->
            <pds-items-form
              :activeItemID="activeItemID"
              :activePDSID="activeID"
              :pdsItems="activePDSList['items']"
              @pullData="pullData"
            ></pds-items-form>

          </v-flex>



        </v-layout>
        <snackbar :show="snackbarShow" :text="snackbarMsg" ></snackbar>
      </v-layout>
    </v-slide-y-transition>
  </v-container>

</template>

<script>
/* eslint key-spacing: 0 */

import axios from 'axios';
import logger from '@/logger';
import config from '@/env.json';

import PDSGroupEdit from './PDSGroupEdit';
import PDSGroups from './PDSGroups';
import PDSItems from './PDSItems';
import PDSItemsForm from './PDSItemsForm';

export default {
  data() {
    return {
      snackbarShow: false,
      snackbarMsg: '',

      pageTitle: 'PDS',
      pdsLists: [],
      activeID: null,
      activeItemID: null,

      jobnos: ['Unassigned'],
      pdsOthers: [
        { attribute_text: 'item1' },
        { attribute_text: 'item2' },
        { attribute_text: 'item3' }
      ]
    };
  },

  mounted() { this.getPDS(); },
  computed: {
    activePDSList() {
      const emptyObj = { items: [] };
      if ( this.activeID === null ) { return emptyObj; }
      const activePDS = this.pdsLists.find( p => p.pdsID === this.activeID );

      // this occurs when a PDS is deleted
      if (activePDS === null || typeof activePDS === 'undefined' ) {
        this.activeID = null;
        return emptyObj;
      }

      return activePDS;
    }
  },
  methods: {
    pullData(data) {
      this.getPDS();

      if ( data.hasOwnProperty('snackbarMsg') ) {
        this.snackbarMsg = data.snackbarMsg;
        this.snackbarShow = true;
      }
    },
    selectedPDS(pdsID) {
      this.snackbarShow = false;
      this.activeID = pdsID;
      this.activeItemID = null;
      console.log('this.activeItemID', this.activeItemID);
    },
    selectedPDSItem(item) {
      const { id } = item;
      this.activeItemID = id;
    },
    resetItemForm() {
      this.pdsItemForm.attribute_text = null;
      this.pdsItemForm.id = null;
    },
    addJobno(jobno) {
      if ( this.jobnos.indexOf(jobno) === -1 ) {
        this.jobnos.push(jobno);
      }
    },
    resetJobnos() {
      this.jobnos = ['Unassigned'];
    },
    updatedPDS() {
      this.snackbarMsg = 'Updated PDS Group successfully.';
      this.snackbarShow = true;
      this.getPDS();
    },
    getPDS() {
      const { proto, hostname, port } = config['server'];
      const baseUrl = `${proto}://${hostname}:${port}`;

      const endpoint = config['api']['pds'];
      const url = baseUrl + endpoint;

      return new Promise( (resolve, reject) => {
        axios
          .get( url )
          .then( result => {
            const resultData = result.data;
            const { data, errors } = resultData;

            if ( errors !== null ) {
              logger.error(errors);
              reject({ errors });
            } else {
              this.resetJobnos();
              this.pdsLists = data.map( ({ items, job, name, id, text, comment, others }) => {
                let p = {
                  pdsID: id,
                  text,
                  name,
                  items,
                  comment,
                  job,
                  others: others.filter( o => !o['is_assigned']),
                  itemCount: items.length
                };
                return p;
              });

              this.pdsLists
                // eslint-disable-next-line
                .filter( p => p.hasOwnProperty('job') && p.job !== null && p.job.hasOwnProperty('jobno') )
                .forEach( p => this.jobnos.push(p.job.jobno));

              resolve({ ok: true, activityIDs: this.activityIDs });
            }
          });
      });
    }
  },
  components: {
    'pds-group-edit'  : PDSGroupEdit,
    'pds-groups'      : PDSGroups,
    'pds-items'       : PDSItems,
    'pds-items-form'  : PDSItemsForm
  }
};

</script>

<style>
  .pds-group--list, .pds-item--list {
    min-height: 380px;
    max-height: 380px;
    overflow-y: auto;
    padding-bottom: 25px;
  }

  .pds-item--form, .pds-group--form {
    min-height: 350px;
    max-height: 350px;
  }



</style>
