<template>
  <div class="pds-clipboard--wrapper">
    <v-dialog
      class="pds-clipboard--modal"
      v-model="dialog"
      height="500"
      width="500"
    >
      <v-btn slot="activator">To Text</v-btn>

      <v-card class="pds-clipboard--modal-inner">
        <v-card-title class="headline grey lighten-2" primary-title>
          Copy-paste the pds entries from this list
        </v-card-title>
        <v-card-text>
          <v-textarea
            height="400"
            solo
            label="PDS items"
            :value="parsedItems"
          ></v-textarea>
          <v-btn @click="dialog = false">Close</v-btn>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>

export default {
  props: ['items'],
  data() {
    return {
      dialog: false
    };
  },
  computed: {
    parsedItems() {
      // eslint-disable-next-line
      const itemsText = this.items
        .map( item => item['attribute_text'] )
        .join('\n');

      if ( itemsText.length === 0 ) {
        return 'No items to display';
      }

      return itemsText;
    }
  }
};

</script>

<style lang="scss">
.pds-clipboard--modal-inner {
  height: 600px;
  min-height: 600px;
  max-height: 600px;

  .v-input__slot {
    align-items: start;
    textarea {
      height: 380px;
      overflow-y: auto;
    }
  }
}

</style>
