<template>
  <v-layout column>

    <v-flex class="pb-1">
      <v-card class="pds-list--header">
        <!-- pds group header row -->
        <v-layout row>

          <v-flex xs3 class="pds-list--header-title">
            <v-layout row>
              <v-flex xs10 style="text-align: center;">
                <div class="headline">PDS List</div>
              </v-flex>

              <v-flex xs2 class="pr-1 pt-1">
                <tool-tip
                direction="down"
                type="info"
                :msg="infoMessages.header"
                ></tool-tip>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-spacer></v-spacer>
          <v-divider vertical></v-divider>
          <v-spacer></v-spacer>

          <v-flex xs4 class="pr-2">
            <v-text-field
              label="Search PDS Lists..."
              v-model="pdsListFilter"
              prepend-icon="search"
            ></v-text-field>
          </v-flex>
          <v-flex xs4>
            <v-select
              :items="jobnos"
              v-model="pdsJobnoFilter"
              label="Jobno"
              @click:clear="clearJobnoFilter"
              clearable
            ></v-select>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>

    <!-- pds group list -->
    <v-flex>
      <v-card>
        <v-card-content>
          <v-list two-line class="pds-group--list">
            <template v-for="(item, index) in filteredpdsGroups">
              <v-list-tile
                active-class="pds-group--selected"
                :key="item.pdsID"
                :class="activeID === item.pdsID ? 'pds-group--selected': '' "
                @click="setActivePDS(item.pdsID)"
              >
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ item.name }} ({{ (item.job && item.job.jobno) ? item.job.jobno : 'Unassigned' }})
                  </v-list-tile-title>
                  <v-list-tile-sub-title>
                    # of entries - {{ item.itemCount }}
                  </v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
            </template>
          </v-list>
        </v-card-content>
      </v-card>
    </v-flex>

  </v-layout>

</template>

<script>

export default {
  props: ['pdsGroups', 'jobnos', 'activeID'],
  data() {
    return {
      pdsListFilter: '',
      pdsJobnoFilter: null,
      infoMessages: {
        header: `
          This panel allows searching (case-insensitive) of PDS and filtering
          by Job Number.

          <b>Clicking</b> on the PDS will let you edit its properties and view the
          associated PDS entries.
        `
      }
    };
  },
  computed: {
    filteredpdsGroups() {
      let filteredList = this.pdsGroups;

      // first apply search filtering
      if ( typeof this.pdsListFilter === 'string' && this.pdsListFilter !== '' ) {
        filteredList = filteredList
          .filter( list => list.name.toLowerCase().indexOf(this.pdsListFilter.toLowerCase()) > -1 );
      }

      // add jobno filtering
      if ( typeof this.pdsJobnoFilter === 'string' && this.pdsJobnoFilter !== '' ) {
        // unassigned
        if ( this.pdsJobnoFilter === 'Unassigned' ) {
          filteredList = filteredList
            .filter( p => p.job === null || typeof p.job.jobno === 'undefined' || p.job.jobno === null );
        } else {
          filteredList = filteredList
            .filter( p => p.job !== null && typeof p.job.jobno === 'string' && p.job.jobno === this.pdsJobnoFilter);
        }
      }

      return filteredList;
    }
  },
  methods: {
    setActivePDS(pdsID) {
      this.$emit('selectedPDS', pdsID);
    },
    clearJobnoFilter() {
      this.pdsJobnoFilter = null;
    }
  }
};

</script>

<style lang="scss">

.pds-list--header {
  padding: 10px;
}

.pds-group--selected .v-list__tile {
  background-color: rgba(0,0,0,.04);
}

.clear-jobno {
  position: relative;
  top: 12px;
}

.pds-list--header-title {
  margin-top: auto;
  margin-bottom: auto;
  .headline { margin-bottom: 0; }
}
</style>
