<template>
  <v-dialog v-model="dialog" width="600" class="pds-group-new">
    <v-btn slot="activator">+ New PDS Group </v-btn>
    <v-card class="pds-group-new--inner">
      <v-card-title class="headline grey lighten-2" primary-title>
        Add new PDS group
      </v-card-title>

      <v-card-text>
        <v-form ref="form">
          <v-text-field
            label="Name"
            v-model="name"
            required
          ></v-text-field>

          <v-text-field
            required
            label="Question"
            v-model="question"
          ></v-text-field>

          <v-text-field label="Comment" v-model="comment"></v-text-field>

        </v-form>

      </v-card-text>
      <v-card-actions>
        <v-btn
          :disabled="disableSave"
          @click="save" color="success"
        >Save</v-btn>
        <v-btn @click="cancel" color="error">Cancel</v-btn>
        <v-btn @click="clear" >Clear</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import axios from 'axios';
import logger from '@/logger';

export default {
  data() {
    return {
      dialog: false,
      name: null,
      question: null,
      comment: null
    };
  },
  computed: {
    disableSave() {

      const typeFail = ( typeof this.name !== 'string' || typeof this.question !== 'string' );

      return typeFail || (this.name.length === 0 || this.question.length === 0);
    }
  },
  methods: {
    cancel() {
      this.resetForm();
      this.dialog = false;
    },
    clear() { this.resetForm(); },
    resetForm() {
      this.name = null;
      this.question = null;
      this.comment = null;
    },
    save() {
      axios.post(
        '/pds-groups',
        {
          pds: {
            name: this.name,
            text: this.question,
            comment: this.comment
          }
        }
      ).then( response => {
        logger.info('got response', response);
        const { errors } = response.data;

        if ( errors === null ) {
          this.$emit('newPDS');
          this.cancel();
        }
      });
    }
  }
};
</script>


<style lang="scss"></style>
