<template>

  <!-- pds group form -->
  <v-card class="mt-1 pr-1">
    <v-card-media>
      <v-form class="pds-group--form">
        <v-container>
            <v-layout column>

              <div class="body-2" style="text-indent:8px;">Edit PDS</div>

              <v-flex xs12>
                <v-text-field
                  v-model="pdsGroupForm.name"
                  label="Name"
                  required
                ></v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-text-field
                  v-model="pdsGroupForm.text"
                  label="PDS Question"
                  required
                ></v-text-field>
              </v-flex>

            <v-flex xs12>
              <v-text-field
                v-model="pdsGroupForm.comment"
                label="Comment"
              ></v-text-field>
            </v-flex>

            <v-spacer></v-spacer>

            <v-layout row>
              <v-btn
                :disabled="disableBtns"
                color="success"
                @click="updatePDS"
              >Update</v-btn>
              <v-btn
                color="error"
                @click="deletePDS"
              >Delete</v-btn>

              <pds-group-new @newPDS="newPDS"></pds-group-new>
            </v-layout>
          </v-layout>
        </v-container>
      </v-form>
    </v-card-media>
  </v-card>
</template>

<script>
import axios from 'axios';
import PDSGroupNew from './PDSGroupNew';

export default {
  props: ['activeID', 'pdsGroup'],
  data() {
    return {
      initialValue: {
        text: null,
        name: null,
        comment: null
      },
      pdsGroupForm: {
        text: null,
        name: null,
        comment: null
      }
    };
  },
  computed: {
    disableBtns() {
      const noPDS = this.activeID === null;
      return ( noPDS || this.isPristine );
    },
    isPristine() {
      const iv = this.initialValue;
      const f = this.pdsGroupForm;

      const namePristine = iv.name === f.name;
      const textPristine = iv.text === f.text;
      const commentPristine = iv.comment === f.comment;

      return (namePristine && textPristine && commentPristine);
    }
  },
  methods: {
    newPDS() {
      this.$emit(
        'pullData',
        { snackbarMsg: 'Added new PDS Group.' }
      );
    },
    setGroupForm() {
      const { text, name, comment } = this.pdsGroup;
      this.pdsGroupForm.name = name;
      this.pdsGroupForm.text = text;
      this.pdsGroupForm.comment = comment;

      this.initialValue.name = name;
      this.initialValue.text = text;
      this.initialValue.comment = comment;
    },
    resetGroupForm() {
      this.pdsGroupForm.name = null;
      this.pdsGroupForm.text = null;
      this.pdsGroupForm.comment = null;
    },
    deletePDS() {
      // eslint-disable-next-line
      const answer = confirm('Are you sure you want to continue?');
      const id = this.activeID;

      if ( answer ) {
        axios
          .delete(`/pds-groups/${id}`)
          .then( response => {
            const { errors } = response.data;

            if ( errors === null ) {
              this.$emit('pullData', { snackbarMsg: 'Deleted PDS Group.' } );
            }
          });
      }
    },
    updatePDS() {
      const { name, text, comment } = this.pdsGroupForm;
      const data = { pds: { name, text, comment } };
      const id = this.pdsGroup.pdsID;
      const url = `/pds-groups/${id}`;

      axios.post(
        url,
        data
      ).then( response => {
        const payload = response.data;
        if (payload.errors === null) {
          this.$emit('pullData', { snackbarMsg: 'Updated PDS Group.' } );
        } else {
          /* @TODO implement error handling */
        }
      });
    }
  },
  watch: {
    pdsGroup() {
      this.setGroupForm();
    }
  },
  components: {
    'pds-group-new': PDSGroupNew
  }
};
</script>
