<template>
  <v-layout column>
    <v-flex class="pb-1">
      <v-card class="pds-entries--header">
        <v-layout row>

          <v-flex xs3 class="pds-entries--header-title">
            <v-layout row>
              <v-flex xs10>
                <div class="headline">PDS Entries</div>
              </v-flex>

              <v-flex xs2 class="pt-1">
                <tool-tip
                  type="info"
                  direction="down"
                  :msg="infoMessages.header"
                ></tool-tip>
              </v-flex>
            </v-layout>
          </v-flex>

          <v-spacer></v-spacer>
          <v-divider vertical></v-divider>
          <v-spacer></v-spacer>

          <v-flex xs2></v-flex>
          <v-flex xs2 class="clipboard--wrapper">
            <pds-clipboard :items="filteredPDSItems"></pds-clipboard>
          </v-flex>
          <v-flex xs4>
            <v-text-field
              prepend-icon="search"
              label="Search PDS Entries..."
              v-model="pdsItemFilter"
            ></v-text-field>
          </v-flex>
        </v-layout>
      </v-card>
    </v-flex>

    <!-- listing of PDS items with expansion panels -->
    <v-flex class="pds-items--wrapper">
      <v-card >
        <v-card-media>
          <v-expansion-panel v-model="openPanel" >
            <v-expansion-panel-content>
              <div slot="header">Assigned PDS Entries ({{filteredPDSItems.length}})</div>
              <v-list class="pds-items--list assigned">
                <template
                  v-for="(pdsItem, indx) in filteredPDSItems"
                >
                  <v-list-tile
                    :key="pdsItem.id"
                    active-class="pds-item--selected"
                    :class="activeItemID === pdsItem.id ? 'pds-item--selected': '' "
                    @click="selectPDSItem(pdsItem)"
                  >
                    <v-list-tile-content>
                      <v-list-tile-title>{{ pdsItem.attribute_text }}</v-list-tile-title>
                    </v-list-tile-content>

                  </v-list-tile>

                </template>
              </v-list>

            </v-expansion-panel-content>

            <v-expansion-panel-content>
              <div slot="header">Others({{Array.isArray(pdsOthers) ? pdsOthers.length : 0}})</div>
              <v-list class="pds-items--list others">
                <template v-for="(pdsItem, indx) in pdsOthers">
                  <v-list-tile :key="pdsItem.id" @click="selectPDSOther(pdsItem.id)">
                    <v-list-tile-content>
                      <v-list-tile-title >{{ pdsItem.item_text }}</v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </template>
              </v-list>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-card-media>
      </v-card>
    </v-flex>

    <assign-pds-other
      :showDialog="othersDialog"
      :pdsItems="pdsItems"
      :pdsOtherID="activePDSOtherID"
      :pdsOthers="pdsOthers"

      @added-pds-other="addedPDSOther"
      @assigned-to-pds="assignedToPDS"
      @closed="othersDialog = false"
    ></assign-pds-other>

  </v-layout>
</template>

<script>
import PDSClipboard from './PDSClipboard';
import AssignPDSOther from './AssignPDSOther';

export default {
  props: ['pdsItems', 'activeItemID', 'pdsOthers'],
  data() {
    return {
      activePDSOtherID: null,
      othersDialog: false,
      openPanel: 0,
      infoMessages: {
        header: `
        This panel allows searching (case-insensitive) of PDS entries for a
        given PDS.

        <b>Clicking</b> on the PDS entry will let you edit its properties.
        `
      },
      pdsItemFilter: '',
      snackbarMsg: '',
      snackbarShow: false
    };
  },
  methods: {
    assignedToPDS() {
      this.othersDialog = false;
      const snackbarMsg = 'Assigned PDS Other to list.';
      this.$emit('pullData', { snackbarMsg });
    },
    addedPDSOther() {
      this.othersDialog = false;
      const snackbarMsg = 'Added PDS Other to list.';
      this.$emit('pullData', { snackbarMsg });
    },
    selectPDSItem(item) {
      this.othersDialog = false;
      this.$emit('selectedPDSItem', item);
    },
    selectPDSOther(pdsOtherID) {
      console.log('this is running');
      this.activePDSOtherID = pdsOtherID;
      this.othersDialog = true;
    }
  },
  computed: {
    filteredPDSItems() {
      if ( this.pdsItemFilter === '' ) { return this.pdsItems; }
      return this.pdsItems
        .filter(
          item => item['attribute_text'].toLowerCase().indexOf(this.pdsItemFilter.toLowerCase()) > -1
        );
    }
  },
  components: {
    'pds-clipboard': PDSClipboard,
    'assign-pds-other': AssignPDSOther
  }
};

</script>

<style lang="scss" scoped>

  $h-total: 380px;
  $h-header-slot: 50px;
  $h-panel: $h-total - ( 2 * $h-header-slot ) - 1px;
  .pds-items--wrapper {
    .v-card {
      min-height: $h-total;
      max-height: $h-total;
    }
    .pds-items--list {
      min-height: $h-panel;
      max-height: $h-panel;
      overflow-y: auto;
    }
  }
  .pds-entries--header { padding: 10px; }

  .pds-item--selected .v-list__tile {
    background-color: rgba(0,0,0,.04);
  }

  .pds-entries--header-title {
    margin-top: auto;
    margin-bottom: auto;

    .headline { text-align: center; }
    .clipboard--wrapper {
      margin-top: auto;
      margin-bottom: auto;
    }
  }

  /deep/ .v-expansion-panel__header {
    box-shadow: 1px 1px 0 0 #e3e3e3;
  }

</style>
