<template>

  <v-card class="mt-1 pl-1">
    <v-card-media>
      <v-form class="pds-item--form">
        <v-container>
            <v-layout column>
              <v-flex>
                <v-flex>
                  <div class="body-2">Edit PDS entry</div>
                  <v-text-field
                    v-model="pdsItemForm.attribute_text"
                    label="Entry text"
                    required
                  ></v-text-field>
                </v-flex>

                <v-layout row>
                  <v-btn
                    @click="updateItem"
                    color="success"
                    :disabled="activeItemID === null || typeof activeItemID === 'undefined'"
                  >Update</v-btn>
                  <v-btn
                    @click="deleteItem"
                    color="error"
                    :disabled="activeItemID === null || typeof activeItemID === 'undefined'"
                  >Delete</v-btn>
                </v-layout>
              </v-flex>

              <v-spacer></v-spacer>
              <v-divider></v-divider>
              <v-spacer></v-spacer>

              <v-flex>
                <v-flex>
                  <div class="body-2">Add new PDS entry</div>
                  <v-text-field label="Entry text" v-model="newPDSItemText"></v-text-field>
                </v-flex>
                <v-layout row>
                  <v-btn
                    @click="addItem"
                    color="success"
                    :disabled="newPDSItemText === null || newPDSItemText.length === 0"
                  >+ Add</v-btn>
                  <v-btn
                    flat
                    @click="newPDSItemText = null"
                  >Clear</v-btn>
                </v-layout>

              </v-flex>

          </v-layout>
        </v-container>
      </v-form>
    </v-card-media>
  </v-card>

</template>

<script>
import axios from 'axios';

export default {
  props: ['activePDSID', 'activeItemID', 'pdsItems'],
  data() {
    return {
      newPDSItemText: null,
      pdsItemForm: {
        id: null,
        attribute_text: null
      },
    };
  },
  methods: {
    resetItemForm() {
      this.pdsItemForm = {
        id: null,
        attribute_text: null
      };
    },
    updateItem() {
      const itemID = this.activeItemID;
      const url = `/pds-items/${itemID}`;
      const data = {
        pdsItem: {
          attribute_text: this.pdsItemForm.attribute_text
        }
      };

      axios
        .post(url, data)
        .then( response => {
          const { errors } = response.data;

          if ( errors === null ) {
            this.resetItemForm();
            this.$emit('pullData', { snackbarMsg: 'Updated PDS Entry.' });
          }
        });
    },
    addItem() {
      const data = {
        pdsItem: {
          attribute_text: this.newPDSItemText,
          group_id: this.activePDSID,
          name: 'pds_item'
        }
      };
      const url = '/pds-items/';

      axios
        .post(url, data)
        .then( response => {
          const { errors } = response.data;

          if ( errors === null ) {
            this.$emit('pullData', { snackbarMsg: 'Added PDS Entry.' });
            this.newPDSItemText = null;
          }
        });
    },
    deleteItem() {
      const url = `/pds-items/${this.activeItemID}`;
      axios
        .delete(url)
        .then(response => {
          const { errors } = response.data;

          if ( errors === null ) {
            this.activePDSItem = null;
            this.resetItemForm();
            this.$emit('pullData', { snackbarMsg: 'Deleted PDS Entry.' });
          }
        });
    }
  },
  watch: {
    activeItemID(newID) {
      console.log('in watch');
      this.resetItemForm();
      if ( newID === null ) {
        this.activeItem = null;
      } else {
        this.activeItem = this.pdsItems.find( e => e.id === newID );
        this.pdsItemForm.id = this.activeItem.id;
        // eslint-disable-next-line
        this.pdsItemForm.attribute_text = this.activeItem.attribute_text;
      }
    }
  }
};
</script>
