<template>
  <div class="export-to-csv--wrapper">
    <v-btn @click="generateCSV">Export to CSV</v-btn>
    <a v-if="encodedCSV !== null" :href="encodedCSV" :download="filename" >
      <v-btn color="success">Download</v-btn>
    </a>
  </div>
</template>


<script>
import logger from '@/logger';

export default {
  props: ['jsonData', 'baseFilename'],
  data() {
    return {
      delimeter: ',',
      encodedCSV: null,
      filename: null
    };
  },

  methods: {
    generateCSV() {
      // const sanitize = (t) => t.replace(/#/g, '');
      const delim = this.delimeter;
      const { headers, rows } = this.jsonData;
      let outputStr = '';

      outputStr += headers.map( h => h.text ).join(delim);
      outputStr += '\n';

      logger.debug('output string headers', outputStr);

      const flattenRow = (row) => {
        let rowValues = [];
        // eslint-disable-next-line
        for(let h of headers) {
          rowValues.push( row[h['value']] );
        }
        return rowValues;
      };

      outputStr += rows
        .map( flattenRow )
        .map( rowValues => rowValues.join(delim) )
        .join('\n');

      logger.debug('rows', rows
        .map( flattenRow )
        .map( rowValues => rowValues.join(delim) ));

      logger.debug('output string rows', outputStr);


      const filename = `${this.baseFilename}-data_export.csv`;
      const prefix = 'data:text/csv;charset=utf-8,';
      const csv = prefix + window.encodeURIComponent(outputStr);

      logger.debug('generated csv', csv);

      this.encodedCSV = csv;
      this.filename = filename;
    }
  }
};

</script>

<style>
  .export-to-csv--wrapper { display: inline-block; }
</style>
