<template>
  <v-toolbar :class="'hidden-md-and-up'" :clipped-left="false">
    <v-toolbar-title v-text="pageTitle"></v-toolbar-title>
    <v-spacer></v-spacer>
    <v-icon @click="reloadPage">refresh</v-icon>
  </v-toolbar>
</template>

<script>
export default {
  props: ['pageTitle', 'url'],
  methods: {
    reloadPage() {
      window.location.reload(true);
    }
  }
};
</script>
