<template>
  <v-layout row>
    <v-flex xs12>
      <v-text-field
        v-model="model"
        :label="label"
        prepend-icon="search"
      ></v-text-field>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  props: ['label'],
  data() {
    return {
      model: null
    };
  },
  watch: {
    model(newVal, oldVal) {
      this.$emit('onvaluechanged', { newVal, oldVal });
    }
  }
};
</script>

<style scoped>
  .search-icon { align-self: center; }
</style>
