<template>
  <v-snackbar
   v-model="show"
   :bottom="y === 'bottom'"
   :left="x === 'left'"
   :multi-line="mode === 'multi-line'"
   :right="x === 'right'"
   :timeout="timeout"
   :top="y === 'top'"
   :vertical="mode === 'vertical'"
 >
   {{ text }}
   <v-btn
     color="pink"
     flat
     @click="show = false"
   >
     Close
   </v-btn>
 </v-snackbar>

</template>

<script>
export default {
  props: ['show', 'text'],
  data() {
    return {
      x: null,
      y: 'bottom',
      timeout: 6000,
    };
  }
};
</script>
