<template>
  <v-flex class="tool-tip--wrapper">
    <v-hover>
      <v-layout
        class="tool-tip--inner"
        :class="{up: alignment === 'up', down: alignment === 'down', 'is-hover': hover }"
        slot-scope="{ hover }
      ">

        <v-icon class="icon--elem">{{icon}}</v-icon>

        <v-layout class="msg--box" >
          <v-flex>
            <div class="msg--wrapper" v-html="msg"></div>
          </v-flex>
        </v-layout>
      </v-layout>
    </v-hover>
  </v-flex>
</template>


<script>


export default {
  props: ['msg', 'type', 'direction'],
  data() {
    return {
      defaultDirection: 'down',
    };
  },

  computed: {
    icon() {
      let iconName = null;
      const type = this.type;
      if ( type === 'info') {
        iconName = 'info';
      } else if ( type === 'warning' ) {
        iconName = 'error_outline';
      }

      return iconName;
    },

    alignment() {
      let align = this.defaultDirection;

      const allowed = ['up', 'down'];
      if ( typeof this.direction === 'string' && allowed.indexOf(this.direction) > -1 ) {
        align = this.direction;
      }

      return align;
    }
  }
};
</script>

<style scoped lang="scss">

  .tool-tip--wrapper {
    .icon--elem { cursor: pointer; }

    position: relative;
    z-index: 9999;
  }
  .msg--box {
    position: absolute;
    left: 0;

    display: none;
    $offset-v: 26px;
    .tool-tip--inner.is-hover & { display: block; }
    .tool-tip--inner.down & { top: $offset-v; }
    .tool-tip--inner.up & { bottom: $offset-v; }

    width: 150px;
    max-height: 200px;
    overflow-y: auto;

    $lightish-grey: #6b6b6b;
    color: $lightish-grey;
    background-color: lightblue;

    border: 0px solid transparent;
    border-radius: 16px;
    padding: 8px;

  }

</style>
