<template>
  <v-container fluid grid-list-md >

    <div class="headline">
      <div class="headline-text">
        Jobs
      </div>
    </div>

    <v-layout column>

      <v-flex md12>
        <v-layout row grid-list-md>
          <v-flex md2>

            <v-card tile :class="'report-actions'">
              <v-layout column style="height:100%;">
                <v-flex style="height:80%;">
                  <v-card-title primary-title >
                    <div class="headline">Actions</div>
                    <p>
                      To manage your data, please use one of the
                      following actions below.
                    </p>
                    <v-flex class="actions-wrapper" xs12>
                      <v-checkbox
                        class="tickbox"
                        :label="`Show deleted jobs`"
                        v-model="showHidden"
                      ></v-checkbox>
                      <v-btn
                        color="success"
                        :disabled="Object.keys(changes).length === 0"
                        @click="save"
                      >Save</v-btn>
                      <v-divider></v-divider>
                      <v-btn >Export to CSV</v-btn>
                    </v-flex>
                  </v-card-title>
                </v-flex>
              </v-layout>

            </v-card>

          </v-flex>

          <v-flex md10>
            <v-card>
              <v-data-table @input="console.log($event)" :headers="jobsData.headers" :items="jobsToDisplay">
                <template slot="headerCell" slot-scope="props">
                  <v-tooltip bottom>
                    <span slot="activator">
                      {{ props.header.text }}
                    </span>
                    <span>
                      {{ props.header.text }}
                    </span>
                  </v-tooltip>
                </template>
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left jobno">{{ props.item.jobno }}</td>
                  <td class="text-xs-left description">{{ props.item.description }}</td>
                  <td class="text-xs-left job-status">
                    <v-select
                      solo
                      :items="jobStates"
                      label="Job status"
                      item-text="display_name"
                      item-value="id"
                      v-model="props.item.job_state_id"
                      @change="changedJobState(props.item.id, $event)"
                    ></v-select>
                  </td>
                  <td class="text-xs-left notification">
                    <v-text-field
                      counter="65"
                      label="Notification message"
                      v-model="jobsToDisplay[props.index].breaking_news"
                      @input="changedMessage(props.item.id, $event)"
                    ></v-text-field>
                  </td>
                </template>
              </v-data-table>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>

    </v-layout>

  </v-container>
</template>

<script>
import logger from '@/logger';
import axios from 'axios';

export default {
  beforeRouteLeave(to, from, next) {
    console.log('beforeRouteLeave', this.changes);
    if ( Object.keys(this.changes).length > 0 ) {
      // eslint-disable-next-line
      confirm( 'Do you want to proceed? You will lose any unsaved changes.' )
        ? next()
        : next(false);
    }
  },
  props: ['jobsData'],
  data() {
    return {
      showHidden: false,
      jobStates: [],
      changes: {}
    };
  },
  mounted() { this.getJobStates(); },
  methods: {
    save() {
      const jobIDsToChange = Object.keys(this.changes);

      if ( jobIDsToChange.length === 0) { return false; }

      let promises = [];
      // eslint-disable-next-line
      for (let jobID of jobIDsToChange) {
        const changeObj = this.changes[jobID];
        const payload = {
          bonus_code_id     : changeObj['bonus_code_id'],
          job_state_id      : changeObj['job_state_id'],
          breaking_news     : changeObj['breaking_news'],
          jobno             : changeObj['jobno'],
          description       : changeObj['description'],
          pds_group_id      : changeObj['pds_group_id']
        };

        promises.push(axios.put(`/jobs/${jobID}`, payload));
      }
      Promise.all( promises).then( results => {
        const totalErrors = results
          .filter( result => Array.isArray(result['data']['errors']) )
          .map( result => result['data']['errors']);

        logger.error('errors updating jobs', totalErrors);
        /* @TODO handle errors and report via snackbar */
        this.changes = Object.assign({});
        this.$emit('updated-jobs');
      });
      return null;
    },
    changedJobState( jobID, newJobStateID ) {
      if ( typeof this.changes[jobID] === 'undefined') {
        this.changes[jobID] = Object.assign({}, this.jobsData.rows.find( j => j.id === jobID ) );
      }

      const newObj = Object.assign({}, this.changes[jobID], { job_state_id: newJobStateID });
      this.changes = Object.assign({}, this.changes, { [jobID]: newObj } );
    },
    changedMessage( jobID, newMsg ) {
      if ( typeof this.changes[jobID] === 'undefined') {
        this.changes[jobID] = Object.assign({}, this.jobsData.rows.find( j => j.id === jobID ) );
      }

      const newObj = Object.assign({}, this.changes[jobID], { breaking_news: newMsg });
      this.changes = Object.assign({}, this.changes, { [jobID]: newObj });
    },

    getJobStates() {
      axios.get('/job-states').then( response => {
        const { data, errors } = response.data;
        if ( errors === null ) {
          this.jobStates = data.slice();
        }
      });
    }
  },
  computed: {
    jobsToDisplay: {
      get() {
        // @NOTE - while the loop could be avoided, there really shouldn't be a
        // case where there are actually enough jobs that this matters this should
        // prob be delegated to thhe data-table, although filter chaining is quite
        // nice
        const filteredJobs = this.jobsData.rows
          .filter( j => this.showHidden || j.status !== 'D' );
        return filteredJobs;
      },
      set(newValue) {
        console.log('newValue', newValue);
      }
    },
    binding() {
      const binding = {};
      binding.column = !(this.$vuetify.breakpoint.mdAndUp);
      return binding;
    }
  }
};

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.headline {
  margin-bottom: 10px; text-indent: 10px;

  .tickbox {
    display: inline-block;
    position: relative;
    top: 3px;
  }
  .headline-text { display: inline-block; margin-right: 10px; }
}
.v-toolbar { margin-bottom: 20px; }
.v-card {
  min-width: 50%;
  &.report-actions {
    height: 100%;
    padding: 5px;
    & > .v-layout {
      height: 100%;
      & > .v-flex {
        height: 80%;
      }
    }
  }
}
td.job-status {
 & > .v-input { position: relative; top: 12px; }
}
.actions-wrapper {
  margin-top: 10px;
}
</style>
