<template>
  <!-- wrapper code -->
  <v-container fluid>
    <v-slide-y-transition mode="out-in">
      <v-layout column align-center>

        <!-- content code -->
        <page-title :pageTitle="pageTitle"></page-title>

        <jobs-table
          @updated-jobs="updatedJobs"
          :jobsData="jobs"
        ></jobs-table>
        <snackbar
          :text="snackbarMsg"
          :show="snackbarShow"
        ></snackbar>

        <!-- <v-dialog>
          <v-card>
            <v-card-title>
              <div class="headline">
                Unsaved changes
              </div>
            </v-card-title>
            <v-card-content>
              <div>
                Are you sure you want to leave?
                You have unsaved changes.
              </div>
            </v-card-content>
            <v-card-actions>
              <v-btn
                @click="leave(true)"
                color="warning"
              >Leave</v-btn>
              <v-btn
                @click="leave(false)"
                flat
              >Cancel</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog> -->
      </v-layout>
    </v-slide-y-transition>
  </v-container>
</template>

<script>

import config from '@/env.json';
import logger from '@/logger';
import axios from 'axios';
import JobsTable from '@/components/jobs/JobsTable';

export default {

  data() {
    return {
      snackbarShow: false,
      snackbarMsg: false,
      pageTitle: 'Jobs',
      jobs: {
        headers: [],
        rows: []
      }
    };
  },
  mounted() {
    this.getCallReport();
  },
  methods: {
    updatedJobs() {
      this.snackbarShow = true;
      this.snackbarMsg = 'Updated jobs!';
    },
    getCallReport() {
      const { proto, hostname, port } = config['server'];
      const baseUrl = `${proto}://${hostname}:${port}`;

      const endpoint = config['api']['jobs'];
      const url = baseUrl + endpoint;

      axios
        .get( url )
        .then( result => {
          const resultData = result.data;
          const { data, errors } = resultData;

          if ( errors !== null ) {
            logger.error(errors);
          } else {
            const jobsData = data;
            this.$set(this.jobs, 'headers', jobsData.headers);
            this.$set(this.jobs, 'rows', jobsData.rows);
          }
        });
    }
  },
  components: { 'jobs-table': JobsTable }
};

</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.v-toolbar { margin-bottom: 20px; }
.v-card { margin-bottom: 20px; }
</style>
