<template>
  <div class="chart-wrapper">
    <chartist
      :ratio="ratio"
      :type="type"
      :data="chartData"
      :options="options"
    ></chartist>
  </div>
</template>

<script>

export default {
  props: ['chartData', 'type', 'options', 'ratio']
};

</script>

<style lang="scss" scoped>

</style>
