<template>
  <v-app>

    <!-- application sidebar -->
    <v-navigation-drawer
      :class="'app-sidebar-panel'"
      persistent
      :mini-variant="miniVariant"
      v-model="drawer"
      enable-resize-watcher
      fixed
      dark
      app
    >
      <v-list>
        <v-list-tile :class="'moa-logo'" >
          <v-list-tile-action></v-list-tile-action>
          <v-list-tile-content>
            <img src="/static/img/map-of-agriculture-logo.png" >
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile :class="'app-sidebar-title'">
          <v-list-tile-action></v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="appTitle"></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>

        <v-list-tile
          value="true"
          v-for="(item, i) in items"
          :key="i"
          @click=""
          :to="item.route"
          :class="'menu-item'"
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"></v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title  v-text="item.title" ></v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <!-- end sidebar -->

    <!-- top toolbar -->
    <v-toolbar :class="'app-top-toolbar'" app :clipped-left="false">
      <v-toolbar-side-icon
        @click.stop="drawer = !drawer"
      ></v-toolbar-side-icon>
      <v-toolbar-title v-text="title"></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-icon @click="$router.push('/settings')">settings</v-icon>
    </v-toolbar>
    <!-- end toolbar -->

    <!-- display main content -->
    <v-content>
      <router-view/>
    </v-content>
    <!-- end main content -->

  </v-app>
</template>

<script>
export default {
  data() {
    return {
      appTitle: 'CATI10',
      drawer: true,
      fixed: false,
      // @TODO perhaps this should be placed elsewhere
      items: [
        {
          icon: 'dashboard',
          title: 'Overview',
          route: '/overview'
        },
        {
          icon: 'supervisor_account',
          title: 'Agents',
          route: '/agents'
        },
        {
          icon: 'call',
          title: 'Jobs',
          route: '/jobs'
        },
        {
          icon: 'list_alt',
          title: 'Time Sheets',
          route: '/timesheets'
        },
        {
          icon: 'dns',
          title: 'PDSs',
          route: '/pds'
        },
        {
          icon: 'tune',
          title: 'Job Rules',
          route: '/job-rules'
        }
      ],
      miniVariant: false,
      title: 'CATI 10 Administration'
    };
  },
  name: 'App'
};
</script>


<style lang="scss">
.v-list__tile__title { color: #424242; }

nav.v-toolbar.app-top-toolbar {
 background-color: #0f66bd;
 .v-icon,
 .v-toolbar__title { color: #fcfbfc; }
}

/* specificity hell */
aside.v-navigation-drawer.v-navigation-drawer--fixed.app-sidebar-panel {
  background-color: #283339;

  .moa-logo {
    height: 100px;
    margin: 40px 0;
    .v-list__tile, img { height: 100%; }
  }

  .app-sidebar-title {
    margin-bottom: 20px;
    .v-list__tile__title {
      font-size: 2em;
      color: #1888d0;
    }
  }

  .menu-item {

    .v-list__tile__action .v-icon,
    .v-list__tile__content .v-list__tile__title {
      color: #fcfbfc;
    }
  }
}
</style>
